*{
    margin: 0;
    padding: 0;
    
}
header{
    width: 1536px;
    /* display: flex; */
    background-color: black;
    color: #fff;
    
    position: fixed;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
}
.imghead{
    position: absolute;
    width: 129px;
    height: 126px;
    left:70px;
    top: 10px;
}
.leftheader{
    display: inline-block;
    margin-left: 180px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.rightheader{
    display: inline-block;
    width: 1000px;
    padding-top: 5px;
    font-size: large;
    color: yellow;
    position: relative;
    margin-right: 210px;
    text-align: right;
    
    
}
.leftheaderdown{
    width: 420px;
    
    margin-bottom: 20px;
    margin-left: 180px;
}
.linkweb{
    text-decoration: none;
    color: yellow;
}
.body{
    width: 1519px;
    height: 800px;
    background-repeat: no-repeat;
    
    background-image: url(benghuaibc.webp);
}
.backwenzi{
    width: 1519px;
    background-color: rgb(75, 82, 139);
}
