
.flex{
    display: flex;
    height: 60px;
    border: 0px;
    margin: 0px;
    justify-content: center;
}
/* .blankbox{
    width: 700px;
    height: 70px;
} */
.titlebox{
    width: 400px;
    height: 60px;
    background-color: grey;
}
.titlebox>h3{
    color: aliceblue;
    text-align: center;
}
.body{
    display: flex;
    
    height: 250px;
    justify-content: center;
    
    
}
.images{
    /* background-image: url(蓝山.png); */
    width: 400px;
    
    text-align: center;
    padding: 50px;
    /* background-repeat: no-repeat;
    background-position: center center; */

    /* align-self: center; */
}
.bodydown{
    
    display: flex;
    
    
    justify-content: center;
}
.wenzi{
    border-style: solid;
    border-width: 1px;
    width: 380px;
    padding: 10px;
    margin: 0;
    border-left-color: grey;
    border-top-color: grey;
    border-right-color: grey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 5px 0 0 2px #dcdcdc;
    
    /* background-color: ; */
    justify-content: center;
}
.wenzibottom{
    display: flex;
    
    
    /* height: 350px; */
    justify-content: center;
}
.wenzidown{
    border-style: solid;
    padding: 10px;
    margin: 0;
    border-top-width: 0px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    width: 380px;
    border-left-color: grey;
    border-bottom-color: grey;
    border-right-color: grey;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 5px 5px 0 2px #dcdcdc;
}
.strong{
    color: aqua;
    font-size: 20px;
    font-weight: 700;
}
.blue{
    color: aqua;
}
.numimg{
    /* background-image: url(蓝山群号.png); */
    width: 400px;
    
    text-align: center;
    /* background-repeat: no-repeat;
    background-position: center center; */
}
.numingbox{
    width: 200px;
    margin: 0 auto;
    height: 20px;
    padding: 10px;
    background-color: rgb(242, 245, 250);
}
.xiaoxi{
    width: 380px;
    
    color: red;
   margin: 20px 40px;
    text-align: center;
}

.down{
    display: flex;
    
   
    justify-content: center;
}
.greydown{
    display: flex;
    height: 150px;
    justify-content: center;
    
}
.greydown_box{
    width: 400px;
    height: 100px;
    background-color: grey;
    color: aliceblue;
    text-align: center;
}