.indexbody {
  margin: 10px auto;
  margin-top: 62px;
  width: 1000px;
  height: 1000px;
  display: flex;
}
/* 左侧身体部分 */
.leftbody {
  width: 694px;
  margin-right: 10px;
  box-shadow: 0 1px 3px hsl(0deg 0% 7% / 10%);
}
.leftnav {
  width: 100%;
  height: 59px;
  border-bottom: 1px solid #f0f2f7;
}
.leftnav nav{
  display: flex;
  width: 300px;
  height: 59px;
}
.leftnav nav a {
  color: #121212;
  margin: 0 auto;
  font-size: 15px;
  line-height: 59px;
}
.leftnav nav a:nth-child(2) {
  color: #056de8;
}
/* 右侧身体部分 */
.rightbody {
  width: 296px;
  height: 316px;
  box-shadow: 0 1px 3px hsl(0deg 0% 7% / 10%);
}
.rightbodytop {
  height: 52px;
    width: 100%;
    line-height: 52px;
    display: flex;
    padding-left: 20px;
}
.rightbodytop div:nth-child(1) {
  width: 30px;
  text-align: center;
  padding-top: 5px;
  height: 52px;
}
.rightbodytop div:nth-child(2) {
  width: 190px;
  height: 52px;
}
.rightbodytop div:nth-child(2) span {
  font-size: 14px;
  font-weight: 500;
  color: #858585;
}
.rightbodytop div:nth-child(2) a {
  font-size: 12px;
  background-color: #ebf4fd;
  color: #056de8;
  font-weight: 590;
}
.rightbodytop a:nth-child(3) {
  color: rgb(133, 144, 166);
  font-size: 12px;
}
.rightbodycenter {
  padding: 8px 0 20px;
    position: relative;
    width: 268px;
    height: 92px;
    margin: 0 auto;
}