/* 版心 */
.w
{
    width: 1200px;
    margin: 0 auto;
}

.style_red
{
    color: rgb(211, 90, 35);
}



/* 以下是快捷导航栏设置 */
.shortcut
{
    width: 100%;
    height: 31px;
    background-color: #f1f1f1;
    /* 文字居中 */
    line-height: 31px;
    color: rgb(102, 102, 145);
    /* 调整字体尺寸 */
    font-size: 6px;
    
}
/* 光标位于其上颜色 */
.shortcut a:hover
{
    color: rgb(211, 90, 35);
}
.shortcut div
{
    display: flex;
    /* 左右贴边 */
    justify-content: space-between;
}


/* 选出偶数span加左右外边距 */
.shortcut div:nth-child(2) span:nth-child(2n)
{
    
    margin: 0 0.5vw;
}

/* 头部制作 */
.header
{
    height: 105px;
    
    position: relative;
}
/* logo制作 */
.logo
{
    position: absolute;
    top: 50%;
    margin-top: -40px;
    
    width: 261px;
    height: 61px;
    background-color: blue;
}
.logo a
{
    /* 不显示字体 */
    font-size: 0;
}

/* search制作 */
.search
{
    display: flex;
    position: absolute;
    left: 346px;
    top:25px;
    
    width: 538px;
    height: 36px;
    border: 2px solid rgb(177, 25, 26);
}
.search input
{
    width: 455px;
    height: 32px;
    padding: 10px;
}
.search button
{
    width: 80px;
    height: 33px;
    color: #f1f1f1;
    background-color: rgb(177, 25, 26);
   /* 调整按钮位置，清除空隙 */
   margin-right: -1px;
    margin-top: -1px;
}
/* hotwords模块 */
.hotwords
{
    position: absolute;
    top: 66px;
    left: 340px;
    font-size: 6px;
}
.hotwords a
{
    /* 留出间隙 */
    margin: 0 10px;
}
.hotwords a:hover
{
    color: rgb(211, 90, 35);
}
/* shopcar模块 */
.shopcar
{
    /* 定位 */
    position: absolute;
    right: 60px;
    top: 20px;
    /* 盒子调整 */
    width: 140px;
    height: 35px;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
    
    color: rgb(102, 102, 145);
    /* 调整字体尺寸 */
    font-size: 6px;
    /* 居中 */
    line-height: 35px;
    text-align: center;
}

.count
{
    /* 定位 */
    position: absolute;
    left: 110px;
    top: -7px;

    height: 14px;
    /* 画圆 */
    border-top-left-radius:50px ;
    border-top-right-radius:50px ;
    border-bottom-right-radius: 50px;
    /* 清除继承 */
    color: black;
    line-height: 14px;
    padding: 0 5px;
    background-color: rgb(230, 0, 18);
}
/* nav制作 */
.nav
{
    
    height: 47px;
    border-bottom:2px solid rgb(177, 25, 26) ;
   
}
.nav .w
{
    display: flex;
    
}
/* 左nav模块 */
.leftnav
{
    
    width: 210px;
    height: 46px;
    background-color: rgb(177, 25, 26);
    
}

.leftnav .dt
{
    
    width: 100%;
    height: 100%;
    line-height: 46px;
    /* 居中 */
    text-align: center;
    font-size: 16px;
    color: white;
    
}

.leftnav .dd
{
    /* 不掩盖nav盒子下边界 */
    margin-top: 1px;

    width: 210px;
    height: 465px;
    background-color: #c81623;
}

.leftnav .dd ul li
{
    position: relative;
    height: 31px;
    line-height: 31px;
    /* 鼠标放上时不完全覆盖颜色 */
    margin-left: 2px;
}
.leftnav .dd ul li a
{
    /* 设置链接字体颜色大小 */
    font-size: 14px;
    color: white;
}
.leftnav .dd ul li:hover a
{
    color: rgb(230, 0, 18);
    
}

.leftnav .dd ul li:hover
{
    background-color: #f7f7f7;
    cursor: pointer;
    
}

.leftnav .dd ul li .icon
{
    /* 调整右箭头位置 */
    position: absolute;
    bottom: 10px;
    right: 2px;
}

/* 右nav模块 */
.rightnav span a
{
    /* 设置链接盒子大小 */
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    padding: 0 25px;
    
}
.rightnav span a:hover
{
    color: rgb(230, 0, 18);
}

/* footer制作 */
.footer
{
    /* 设置背景 */
    height: 415px;
    background-color: #f5f5f5;
    padding-top: 30px;
}
/* mod_service模块制作 */
.mod_service
{
    height: 80px;
    border-bottom: 1px solid #ccc;
}
.mod_service ul
{
    /* 添加flex使li处于一排 */
    display: flex;
}
.mod_service ul li
{
    /* 添加flex使div处于一排 */
    display: flex;
    width: 300px;
    height: 50px;
    /* 调整位置 */
    padding-left: 35px;
}
.mod_service ul li div img
{
    /* 设置图像大小 */
    width: 50px;
    height: 50px;
    
}
.mod_service ul li div h4
{
    /* 设置小标题字体尺寸 */
    font-size: 14px;
}
.h6
{
    /* 设置小标题下方颜色 */
    color: rgb(102, 102, 145);
}

/* mod_help模块制作 */
.mod_help
{
    height: 185px;
    border-bottom:1px solid #ccc ;
    padding-top: 20px;
    padding-left: 50px;
    display: flex;
}
.mod_help dl
{
    /* 指定dl宽度 */
    width: 200px;
}

.mod_help dl dt
{
    /* 调整字体 */
    font-size: 16px;
    margin-bottom: 10px;
}
.mod_help dl dd
{
    font-size: 12px;
}

.mod_help dl:last-child
{
    /* 最后一个dl */
    width: 90px;
    text-align: center;
}
.mod_help dl:last-child dd
{
    display: flex;
    flex-direction: column;
}
.mod_help dl:last-child img
{
    width: 100px;
    height: 100px;
}
.mod_help dl dd a:hover
{
    color: rgb(230, 0, 18);
}
/* mod_copyright制作 */
.mod_copyright
{
    padding-top: 20px;
    text-align: center;
    font-size: 12px;
    
}
.links
{
    display: flex;
    margin-top: 15px;
    margin-left: 230px;
    
}
.links a
{
    margin: 0 3px;

}
.links a:hover
{
    color: rgb(230, 0, 18);
}
.copyright
{
    margin-top: 20px;
}